:root {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    --bg-primary: #071821;
    --bg-second: #86c06c;
    color: #f3ffea;
}

body {
    background: #07080c;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #07080c;
}

body::-webkit-scrollbar-thumb {
    background: #86c06c;
}

h1, h2 {
    color: #86c06c;
}

footer, section {
    margin-left: 5rem;
    padding: 1rem;
}

a:link {
    color: #e0f8cf;
}

a:visited {
    color: #306850;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link img {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}
